{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Categories</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categories.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ categories.title }}</td>
            </tr>
            <tr>
                <th>IdTitle</th>
                <td>{{ categories.idTitle }}</td>
            </tr>
            <tr>
                <th>ImgWebp</th>
                <td>{{ categories.imgWebp }}</td>
            </tr>
            <tr>
                <th>ImgSvg</th>
                <td>{{ categories.imgSvg }}</td>
            </tr>
            <tr>
 
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ categories.updatedAt ? categories.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_categories_index') }}">back to list</a>

    <a href="{{ path('app_back_categories_edit', {'id': categories.id}) }}">edit</a>

    {{ include('back/categories/_delete_form.html.twig') }}
{% endblock %}
