{% extends 'base.html.twig' %}

{% block title %}About index{% endblock %}

{% block body %}
    <h1>About index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cv</th>
                <th>ImgWebp</th>
                <th>Content</th>
                <th>Contents2</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for about in abouts %}
            <tr>
                <td>{{ about.id }}</td>
                <td>{{ about.cv }}</td>
                <td>{{ about.imgWebp }}</td>
                <td>{{ about.content }}</td>
                <td>{{ about.contents2 }}</td>
                <td>
                    <a href="{{ path('app_about_show', {'id': about.id}) }}">show</a>
                    <a href="{{ path('app_about_edit', {'id': about.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_about_new') }}">Create new</a>
{% endblock %}
